@import url("style.css");

.about-section {
    grid-area: about;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px auto;
    max-width: 80%;
}

.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.about-section p {
    font-size: 1.5rem;
    line-height: 1.6;
}

@media (max-width: 767px) {
    .about-section {
        padding: 10px;
        font-size: 1.2rem;
    }

    .about-section h2 {
        font-size: 2rem;
    }
}